@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&family=Titan+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  width: 100%;
  height: 625px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image_box {
  width: 44%;
  padding-right: 40em;
  height: 600px;
  position: absolute;
  margin-top: 3em;
}

.image_box img {
  height: 570px;
  position: absolute;
  margin-left: -8em;
  margin-top: 0em;
}

.text_box {
  width: 40%;
  height: 457px;
  margin-left: 40em;
  position: absolute;
  color: #ffff;
  background-color: #11324c78;
  border-radius: 0.5em;
  margin-bottom: 2em;
}

.text_box h1 {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  line-height: 3;
  font-size: 250%;
}

.text_box h3 {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  line-height: 3;
}

.text_box ul {
  margin-top: 2em;
}

.text_box p {
  width: 85%;
  margin-top: 2em;
  margin-left: 3em;
}

.text_box ul li {
  line-height: 2;
  font-family: "Raleway", sans-serif;
  margin-left: 3em;
}

header .img {
  width: 100%;
  height: 690px;
  background-size: cover;
  background-image: linear-gradient(
      to bottom,
      #476a79,
      #476a79db,
      #476a79cc,
      #476a79a6,
      #476a79a8,
      #476a79a6,
      #476a796e,
      #476a7994,
      hsl(198deg 21% 47% / 38%),
      hsl(198deg 21% 47% / 51%),
      #dfefffbd,
      rgb(255 255 255)
    ),
    url(images/header0.jpg);
}

.challenge,
.research,
.affinity-diagram,
.usability-test {
  margin-top: 50px;
  width: 85%;
  display: flex;
  justify-content: center;
}

.challenge-box,
.research-box,
.affinity-box,
.usability-test-box {
  width: 90%;
  height: auto;

  align-self: center;
}

.challenge {
  margin-top: 70px;
}

h2 {
  font-family: "Montserrat", sans-serif;
  line-height: 3;
  font-weight: 500;
  font-size: 200%;
}

p {
  width: 100%;
  line-height: 1.8;

  font-family: "Raleway", sans-serif;
}

.scope-image {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 2em;
}

.scope-image img {
  height: 210px;
}

.scope-image img:nth-child(2) {
  height: 178px;
  width: 20%;
}

.interv-box {
  width: 100%;
  display: flex;
  justify-content: center;
}

.interv-box p {
  margin-top: 1.5em;
}

.interv-box-one img,
.interv-box-two img {
  width: 80%;
}

.design-thinking-stages {
  display: flex;
  flex-flow: column;
}

.design-thinking-stages p {
  width: 100%;
}

.design-thinking-stages img {
  width: 50%;
  height: 250px;
  align-self: center;
}

.affinity {
  width: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.affinity1 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.affinity img,
.affinity1 img {
  width: 35%;
  height: 300px;
  margin: 20px;
  border-radius: 1%;
  box-shadow: 0px 0px 16px 2px rgb(230, 226, 226);
}

.sketch {
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul.sketch-box {
  width: 80%;
  height: 500px;
  display: flex;
  flex-direction: row;
}

ul.sketch-box li {
  width: 100%;
  height: 450px;
  display: flex;
  justify-content: center;
}

ul.sketch-box img {
  width: 80%;
}

.lofi,
.iteration {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  margin-top: 50px;
}

.lofi-box,
.iteration-box {
  width: 50%;
  height: 500px;
  margin-left: 65px;
}

.lofi-img,
.iteration-img {
  width: 40%;
  display: flex;
  justify-content: center;
  height: 450px;
}

.lofi-img img,
.iteration-img img {
  margin-left: 30px;
}

.usability-test-box img {
  height: 300px;
  align-self: center;
  margin-top: 50px;
}

.usability-img {
  display: flex;
  justify-content: center;
}

.check-list {
  width: 100%;
  height: 500px;
  justify-content: center;
  display: flex;
}

.check-list-box {
  width: 90%;
}

.design_systems {
  width: 100%;
  justify-content: center;
  height: auto;
  display: flex;
  flex-wrap: wrap;
}

.design_systems img {
  width: 19%;
  margin: 0.3%;
}

.design_systems2 {
  width: 100%;
  display: flex;
}

.design_systems2 img {
  width: 100%;
}

.frame2,
.frame1 {
  width: 50%;
}

@media (max-width: 767px) and (min-width: 319px) {
  .image-box img {
    width: 70%;
    margin-top: -50px;
    z-index: 3;
    margin-left: -30px;
    position: absolute;
  }

  .image-box-1 img {
    width: 70%;
    margin-top: -70px;
    margin-left: 50px;
    z-index: 2;
    position: absolute;
  }

  .image-box-2 img {
    width: 70%;
    margin-top: -100px;
    margin-left: 90px;
    position: absolute;
    z-index: 1;
  }

  ul.intro li {
    text-align: center;
  }

  ul.intro h1 {
    color: #e2c0ad;
    font-family: "Titan One", cursive;
    font-size: 200%;
    font-weight: 300;
    margin-top: -250px;
  }

  h3 {
    color: #164c4a;
    font-family: "Raleway", sans-serif;
    position: absolute;
    display: flex;
    align-self: flex-end;
    line-height: 2;
    padding-left: 0px;
  }

  .challenge {
    margin-top: 20px;
  }

  h2 {
    font-family: "Montserrat", sans-serif;
    line-height: 2;
    margin-left: 0px;
    font-size: 150%;
  }

  p {
    width: 100%;
    line-height: 1.8;
    font-family: "Raleway", sans-serif;
  }

  .scope-image {
    width: 100%;
    display: block;
    justify-content: center;
  }

  .scope-image img {
    height: 100px;
    width: 100%;
  }

  .challenge,
  .research,
  .affinity-diagram,
  .usability-test {
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .interv-box {
    width: 100%;
    display: block;
    justify-content: center;
  }

  .interv-box img {
    width: 100%;
    margin: 0%;
  }

  .affinity {
    width: 100%;
    margin-top: 50px;
    display: block;
    justify-content: center;
    align-items: center;
  }

  .affinity img,
  .affinity1 img {
    width: 100%;
    height: 300px;
    margin: 0px;
    border-radius: 5%;
    box-shadow: 0px 0px 16px 2px rgb(230, 226, 226);
  }

  .sketch {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  ul.sketch-box {
    width: 80%;
    height: auto;
    display: block;
    flex-direction: row;
  }

  ul.intro h2 {
    color: #164c4a;
    font-family: "Montserrat", sans-serif;
    font-size: 100%;
  }

  .affinity1 {
    width: 100%;
    display: block;
    justify-content: center;
    align-items: center;
  }

  .lofi,
  .iteration {
    width: 100%;
    height: auto;
    display: block;
    flex-direction: row;
    margin-top: 0px;
  }

  .lofi-box,
  .iteration-box {
    width: 100%;
    height: auto;
    margin-left: 0;
  }

  .lofi-img img,
  .iteration-img img {
    width: 50%;
    margin-left: 0px;
  }

  .lofi-img,
  .iteration-img {
    width: 100%;
    display: flex;
    justify-content: center;
    height: auto;
  }

  .usability-test-box img {
    height: 100px;
    align-self: center;
    margin-top: 50px;
    width: 100%;
  }

  .check-list {
    width: 100%;
    height: auto;
    justify-content: center;
    display: flex;
    margin-top: 20px;
  }
}

@media screen and (min-width: 1920px) {
  header .img {
    width: 100%;
    height: 825px;
  }

  header {
    width: 100%;
    height: 625px;
  }

  .image-box img {
    width: 20%;
  }

  .image-box-1 img {
    width: 20%;
  }

  .image-box-2 img {
    width: 20%;
  }

  ul.intro {
    z-index: 2;
    position: absolute;
    width: 50%;
  }

  .affinity img,
  .affinity1 img {
    width: 25%;
    height: 400px;
  }

  .lofi-img,
  .iteration-img {
    width: 30%;

    height: 550px;
  }

  .interv-box {
    width: 50%;
    display: flex;
    justify-content: center;
  }
}
